* {
    transition: 300ms ease;
}

.dark-theme {
    background-color: black;

}

.dark-theme {
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.turn-red {
    color: red;
}

button {
    margin: 30px
}